# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle
.tmp-gradle-home

# other
eclipse
run

# upstream reference checkout (https://github.com/link-fgfgui/EMI-Patternizer)
EMI-Patternizer-master/
